body {
    /* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    bottom: 0px;
    right: 5px; 
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; */
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/742/660/non_2x/online-robot-chatbot-head-icon-style-illustration-on-dark-blue-background-vector.jpg'); 
    /* background-size: cover; */
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
   .floating-button-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  
  .fb {
    background-color:  #30baae;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  } 